

<div class="container">

  <div class="d-flex ">
  <!-- left section  -->
  <%= image_tag 'login.png', alt: 'icon' %>

  <!-- right section  -->
    <div class="ms-2 p-3 bg-white w-50 brutal-box brutal-border">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <h2>Welcome!</h2>
          <p>Please enter your credentials<p>
        </div>
        <%= image_tag 'image_show.png', alt: 'icon', :style => "width: 50px" %>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first name" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last name" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up",class: "brutal-btn brutal-box w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
