

<div class="container">

  <div class="d-flex ">
  <!-- left section  -->
    <div>
     <%= image_tag 'login_image', alt: 'icon', style: 'height:100%;width:550px'%>
    </div>

  <!-- right section  -->
    <div class="mr-2 p-3 bg-white w-50">
      <h2>Welcome!</h2>
      <p>Please enter your credentials<p>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first name" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last name" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up",class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
