<%= link_to build, class:"text-decoration-none" do %>
  <div class="card m-2 brutal-border-black brutal-box-black " style="width: 16rem; height: 300px;">
    <div class="position-relative">
      <% if !build.photos.first.nil?%>
          <%= cl_image_tag build.photos.first.key, class: "w-100",style: "height: 150px", crop: :fill %>
      <% else %>
        <img src="https://fakeimg.pl/600x400?text=No+images+" alt="hallo" class="w-100">
      <% end %>
      <div class="card-body ">
        <h5 class="card-title"><%= build.title %></h5>
        <p class="card-text"><%= build.category %></p>
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <i class="fa-solid fa-cubes m-1"></i>
            <p class="card-text"><%= build.surface %></p>
          </div>
          <div class="d-flex">
            <i class="fa-solid fa-gem m-1"></i>
            <p class="card-text"><%= build.price %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
