<div data-controller="filter">
  <%= simple_form_for :filter, url: "/builds", method: :get, data: { action: "submit-> filter#getData" } do |form| %>
    <div class="d-flex justify-content-between align-items-center">
      <%= form.input :category, collection: ["", "apartment", "house", "castle"], selected: params.dig(:filter, :category) %>
      <%= form.input :surface_min, input_html: { value: params.dig(:filter, :surface_min) } %>
      <%= form.input :surface_max, input_html: { value: params.dig(:filter, :surface_max) } %>
      <%= form.input :price_min, input_html: { value: params.dig(:filter, :price_min) } %>
      <%= form.input :price_max, input_html: { value: params.dig(:filter, :price_max) } %>
      <%= form.submit "Filter", data: { filter_target: "submit" }, class:"h-25 btn btn-primary" %>
    </div>
  <% end %>
</div>
