
<div class="container">

      <% @build.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 650, crop: :fill %>
      <% end %>

  <div class="mt-5 d-flex justify-content-between">
<!-- left section  -->
    <div>
      <h2><%= @build.title %></h2>
    <!-- image grid section  -->
    <!-- host section  -->
      <div class="p-4">
        <div class="d-flex align-items-center">
          <%= image_tag 'image_show.png', alt: 'icon', :style => "width: 50px" %>
          <div class="ms-3">
            <h5>Overview:</h3>
            <p>"<%=@build.description %>"</p>
          </div>
        </div>
        <hr style="height: 3px;"/>
        <div class="d-flex align-items-center">
          <img src="https://images.unsplash.com/photo-1559969143-b2defc6419fd?q=80&w=3930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="hallo" class="rounded-circle mb-3" style="height:50px">
          <div class="ms-3">
            <h5>Your host:</h3>
            <p><%=@build.description %></p>
          </div>
        </div>
      </div>
    </div>

<!-- right section  -->
    <div class ="border border-dark p-3 w-25 sticky-top w-50">
      <h5><%= @build.price %> <i class="fa-solid fa-gem m-1"></i>/night </h5>
      <%= render 'bookings/form', booking: @booking, build: @build, dates: @booking_dates %>
    </div>
  </div>
</div>
