
<div id="booking-form-div" data-controller="bookings">
  <%= simple_form_for booking, url: build_bookings_path(build) do |f| %>
    <%= f.input :start_date,
              as: :string,
              input_html: { data: { controller: "datepicker",
                            datepicker_booking_dates_value: dates.to_json,
                            action: "change->bookings#getDates" } },
                label: "Booking dates"%>
  <div class="d-flex justify-content-between">
    <p price="<%= build.price %>"data-bookings-target="priceTag"><%= build.price %> x <span data-bookings-target="days">1</span> night(s) </p>
    <i class="fa-solid fa-gem m-1"></i>
  </div>
  <hr style="height: 3px;"/>
  <div class="d-flex justify-content-between">
    <p>TOTAL : <span data-bookings-target="prixTotal"></span></p>
    <i class="fa-solid fa-gem m-1"></i>
  </div>
    <%= f.button :submit, class:"brutal-btn brutal-box w-100" %>
  <% end %>
</div>
