<div class="navbar-bg-all pt-2 pb-2">
  <div class="container">
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to image_tag('logo.png'), '/', class:"align-items" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <div class=" me-2 align-items-center text-center position-relative border border-primary">
              <i class="fa-solid fa-plus text-primary ps-2"></i>
              <%= link_to "Add your build", new_build_path(), class:"btn stretched-link text-primary"%>
            </div>
              <% if current_user %>
                <li class="nav-item dropdown">
                  <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://images.unsplash.com/photo-1559969143-b2defc6419fd?q=80&w=3930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to "My Profile", my_profile_path, class:"dropdown-item"%>
                    <%= button_to "logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                  </div>
                </li>
                <% else %>
                  <%= link_to "login", new_user_session_path(), class:"btn btn-primary ms-2" %>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
